* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: whitesmoke;
}
nav {
	background-color: #f5f5f5;
	position: fixed;
	width: 100%;
	border-bottom: 3px solid #803437;
	z-index: 999;
}
section {
	padding-top: 30px;
	padding-bottom: 30px;
}
.max-width {
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}
nav .logo {
	float: left;
}
nav .logo img {
	width: 250px;
	padding: 20px;
}
nav:after {
	content: '';
	clear: both;
	display: table;
}
nav ul {
	float: right;
	list-style: none;
	position: relative;
}
nav ul li {
	float: left;
	margin: 0 10px;
	background-color: whitesmoke;
}
nav ul li a {
	color: #803437;
	text-decoration: none;
	line-height: 90px;
	font-size: 18px;
	padding: 8px 15px;
	font-family: 'Ubuntu';
	transition: all ease 0.3s;
}
nav ul li a:hover {
	font-size: 20px;
	color: #151515;
}
nav ul ul {
	position: absolute;
	top: 90px;
	opacity: 0;
	border-top: 3px solid #803437;
	visibility: hidden;
	transition: all 0.3s ease;
}
nav ul ul ul {
	border-top: none;
}
nav ul li:hover > ul {
	opacity: 1;
	top: 70px;
	visibility: visible;
}
nav ul ul li {
	position: relative;
	margin: 0px;
	width: 170px;
	float: none;
	display: list-item;
	border-bottom: 1px solid rgba(128, 52, 55, 0.3);
}
nav ul ul li a {
	line-height: 60px;
}
nav ul ul li a:hover {
	color: #151515;
}
nav ul ul ul li {
	position: relative;
	top: -70px;
	left: 150px;
}
.fa-chevron-down {
	margin-left: 8px;
	font-size: 15px;
}
.show,
.icon,
input {
	display: none;
}
/*content*/
/*-forside-*/
.start {
	display: flex;
	background: url("../img/slate.jpg") no-repeat center;
	background-size: cover;
	height: 85vh;
	width: 100%;
	color: whitesmoke;
	min-height: 400px;
}
.start .max-width {
	margin: auto;
	display: flex;
	flex-direction: row;
}
.start .max-width img {
	width: 250px;
	height: 250px;
	margin-left: 250px;
}
.start .max-width h2 {
	font-family: 'Belwe';
	font-size: 30px;
	line-height: 25px;
	margin-left: 10px;
}
.start .max-width h1 {
	font-family: 'Belwe';
	font-size: 70px;
	line-height: 65px;
	margin-left: 10px;
}
.start .max-width h1,
.start .max-width h2,
.start .max-width img {
	text-shadow: #151515 2px 2px 4px;
}
/*-butikken-*/
.butikken {
	display: flex;
	background: url("../img/butikkendraw.png") no-repeat center;
	background-size: contain;
	height: 85vh;
	width: 100%;
	color: whitesmoke;
	min-height: 400px;
}
.butikken .max-width h1 {
	font-family: 'Belwe';
	font-size: 70px;
	line-height: 65px;
	text-shadow: #151515 2px 2px 4px;
}
.story .max-width {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.story {
	background-color: #eeeeee;
}
.story .max-width div {
	width: 45%;
}
.story .max-width img {
	width: 100%;
}
.story .max-width h2 {
	font-size: 25px;
	font-family: 'Belwe';
	color: #803437;
}
.story .max-width p {
	margin-top: 10px;
	font-family: 'Ubuntu';
	line-height: 25px;
}
/*-Eventlister effect-*/
.img1 {
	transform: rotateZ(2deg);
	transform: scale(0.9);
	opacity: 0;
}
.img1.transition {
	transform: rotateZ(0deg);
	transform: scale(1);
	opacity: 1;
	transition: ease all 0.8s;
}
/*-gourmetslagter-*/
.gourmetslagter {
	display: flex;
	background: url("../img/slate.jpg") no-repeat center;
	background-size: cover;
	height: 50vh;
	width: 100%;
	color: whitesmoke;
	min-height: 400px;
}
.gourmetslagter .max-width {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.gourmetslagter .max-width h1 {
	margin-top: 50px;
	font-family: 'Belwe';
	font-size: 60px;
	line-height: 65px;
	text-shadow: #151515 2px 2px 4px;
	text-align: center;
}
.gourmetslagter .max-width a {
	font-family: 'Belwe';
	font-size: 30px;
	line-height: 55px;
	color: white;
	text-shadow: #151515 2px 2px 4px;
	text-align: center;
	text-decoration: none;
}
.gourmetslagter .max-width h3 {
	margin-top: 10px;
	font-family: 'Belwe';
	font-size: 20px;
	text-shadow: #151515 2px 2px 4px;
	color: #803437;
	text-align: center;
}
.gourmetvideo .max-width {
	align-items: center;
	justify-content: center;
	display: flex;
}
.gourmetvideo .max-width iframe {
	width: 1300px;
	height: 650px;
}
.DSM {
	background-color: #eeeeee;
}
.DSM .max-width {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.DSM .max-width img {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
}
.DSM .max-width h2 {
	text-align: center;
	color: #803437;
	font-family: 'Belwe';
	font-size: 30px;
}
/*-kontakt-*/
.contact {
	display: flex;
	background: url("../img/kontaktchr.jpg") no-repeat center;
	background-size: cover;
	height: 50vh;
	width: 100%;
	color: whitesmoke;
	min-height: 400px;
}
.contact .max-width h1 {
	font-family: 'Belwe';
	font-size: 60px;
	line-height: 65px;
	text-shadow: #f5f5f5 2px 2px 4px;
	text-align: center;
	color: #151515;
	margin-top: 50px;
}
.contactinfo .max-width {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.contactinfo .max-width h3 {
	font-family: 'Belwe';
	font-size: 40px;
	color: #803437;
}
.contactinfo .max-width p {
	font-family: 'Ubuntu';
	font-size: 20px;
	color: #151515;
}
.contactinfo .max-width img {
	width: 300px;
}
/*-wemeatblad-*/
.wemeat {
	display: flex;
	background: url("../img/wemeat.jpg") no-repeat center;
	background-size: cover;
	height: 50vh;
	width: 100%;
	color: whitesmoke;
	min-height: 400px;
}
.wemeat .max-width h1 {
	font-family: 'Belwe';
	font-size: 60px;
	line-height: 65px;
	text-shadow: #151515 2px 2px 4px;
	text-align: center;
	color: #f5f5f5;
}
.wemeat1 .max-width {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.wemeat1 .max-width div {
	width: 45%;
}
.wemeat1 .max-width img {
	width: 100%;
	border: 10px #eeeeee solid;
}
.wemeat1 .max-width h2 {
	font-size: 25px;
	font-family: 'Belwe';
	color: #803437;
}
.wemeat1 .max-width p {
	margin-top: 10px;
	font-family: 'Ubuntu';
	line-height: 25px;
}
/*-Eventlistener effect-*/
.img1 {
	transform: rotateZ(5deg);
	transform: scale(0.9);
	opacity: 0;
}
.img1.transition {
	transform: rotate(-4deg);
	transform: scale(1);
	opacity: 1;
	transition: ease all 0.8s;
}
/*-bøfguide-*/
.boef {
	display: flex;
	background: url("../img/boefguide.jpg") no-repeat center;
	background-size: cover;
	height: 50vh;
	width: 100%;
	color: whitesmoke;
	min-height: 400px;
}
.boef1 .max-width div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
}
.boef1 .max-width h2 {
	font-family: 'Belwe';
	font-size: 40px;
	line-height: 35px;
	text-align: center;
	color: #803437;
}
.boef1 .max-width h4 {
	font-family: 'Belwe';
	font-size: 25px;
	text-align: center;
	color: #803437;
	margin-top: 30px;
}
.boef1 .max-width p {
	font-family: 'Ubuntu';
	font-size: 15px;
	text-align: center;
	color: #151515;
	max-width: 500px;
}
.tip1,
.tip2,
.tip3,
.tip4,
.tip5,
.tip6 {
	transform: rotateZ(5deg);
	transform: scale(0.9);
	opacity: 0;
}
.tip1.transition,
.tip2.transition,
.tip3.transition,
.tip4.transition,
.tip5.transition,
.tip6.transition {
	transform: rotate(-4deg);
	transform: scale(1);
	opacity: 1;
	transition: ease all 0.8s;
}
/*-opskrifter-*/
.ops {
	display: flex;
	background: url("../img/slate.jpg") no-repeat center;
	background-size: cover;
	height: 50vh;
	width: 100%;
	color: whitesmoke;
	min-height: 400px;
}
.ops .max-width h1 {
	margin-top: 50px;
	font-family: 'Belwe';
	font-size: 60px;
	line-height: 65px;
	text-shadow: #151515 2px 2px 4px;
	text-align: center;
	color: #f5f5f5;
}
.ops1 h1 {
	font-family: 'Belwe';
	font-size: 40px;
	line-height: 35px;
	text-align: center;
	color: #803437;
	margin-bottom: 20px;
}
.ops1 .max-width div {
	width: 300px;
	height: 300px;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.30);
	transition: all 0.3s ease;
	border-radius: 5px;
}
.ops1 .max-width div:hover h3 {
	font-size: 50px;
}
.ops1 .max-width {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}
.ops1 .max-width .top {
	margin-bottom: 50px;
}
.pic1 {
	background: url("../img/julen.jpg") no-repeat center;
	background-size: cover;
}
.pic2 {
	background: url("../img/svinekød.jpg") no-repeat center;
	background-size: cover;
}
.pic3 {
	background: url("../img/oksekød.jpg") no-repeat center;
	background-size: cover;
}
.pic4 {
	background: url("../img/fjerkræ1.jpg") no-repeat center;
	background-size: cover;
}
.pic5 {
	background: url("../img/lam.jpg") no-repeat center;
	background-size: cover;
}
.pic6 {
	background: url("../img/tilbehør.jpg") no-repeat center;
	background-size: cover;
}
.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6 {
	height: 300px;
}
.pic1 h3,
.pic2 h3,
.pic3 h3,
.pic4 h3,
.pic5 h3,
.pic6 h3 {
	font-family: 'Belwe';
	font-size: 40px;
	text-align: center;
	color: #f5f5f5;
	margin: auto;
	text-shadow: #151515 2px 2px 4px;
	text-decoration: underline whitesmoke;
	transition: all 0.3s ease;
}
/*-inspiration-*/
.insp {
	display: flex;
	background: url("../img/slate.jpg") no-repeat center;
	background-size: cover;
	height: 50vh;
	width: 100%;
	color: whitesmoke;
	min-height: 400px;
}
.insp .max-width h1 {
	margin-top: 50px;
	font-family: 'Belwe';
	font-size: 60px;
	line-height: 65px;
	text-shadow: #151515 2px 2px 4px;
	text-align: center;
	color: #f5f5f5;
}
.insp1 h1 {
	font-family: 'Belwe';
	font-size: 40px;
	line-height: 35px;
	text-align: center;
	color: #803437;
	margin-bottom: 20px;
}
.insp1 .max-width a div {
	width: 500px;
	height: 300px;
	border-radius: 5px;
}
.insp1 .max-width {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-around;
}
.insp1 .max-width .top {
	margin-bottom: 50px;
}
.insp1 .max-width div {
	display: flex;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.30);
	transition: all 0.3s ease;
}
.inspic1 {
	background: url("../img/julen.jpg") no-repeat center;
	background-size: cover;
}
.inspic2 {
	background: url("../img/boefguide.jpg") no-repeat center;
	background-size: cover;
}
.inspic3 {
	background: url("../img/gourmetslagter.jpg") no-repeat center;
	background-size: cover;
}
.inspic4 {
	background: url("../img/wemeat.jpg") no-repeat center;
	background-size: cover;
}
.inspic1 h3,
.inspic2 h3,
.inspic3 h3,
.inspic4 h3 {
	font-family: 'Belwe';
	font-size: 40px;
	text-align: center;
	color: #f5f5f5;
	margin: auto;
	text-shadow: #151515 2px 2px 4px;
	transition: all 0.3s ease;
	text-decoration: underline whitesmoke;
}
.inspic1:hover h3,
.inspic2:hover h3,
.inspic3:hover h3,
.inspic4:hover h3 {
	font-size: 50px;
}
/*-vores tilbud-*/
.vs {
	display: flex;
	background: url("../img/slate.jpg") no-repeat center;
	background-size: cover;
	height: 50vh;
	width: 100%;
	color: whitesmoke;
	min-height: 400px;
}
.vs .max-width h1 {
	margin-top: 50px;
	font-family: 'Belwe';
	font-size: 60px;
	line-height: 65px;
	text-shadow: #151515 2px 2px 4px;
	text-align: center;
	color: #f5f5f5;
}
.vs1 h1 {
	font-family: 'Belwe';
	font-size: 40px;
	line-height: 35px;
	text-align: center;
	color: #803437;
	margin-bottom: 20px;
}
.vs1 .max-width a div {
	width: 500px;
	height: 300px;
	border-radius: 5px;
}
.vs1 .max-width {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-around;
}
.vs1 .max-width .top {
	margin-bottom: 50px;
}
.vs1 .max-width div {
	display: flex;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.30);
	transition: all 0.3s ease;
}
.vspic1 {
	background: url("../img/dagensret.jpg") no-repeat center;
	background-size: cover;
}
.vspic2 {
	background: url("../img/ugenstilbud.jpg") no-repeat center;
	background-size: cover;
}
.vspic3 {
	background: url("../img/manedspakker.jpg") no-repeat center;
	background-size: cover;
}
.vspic1 h3,
.vspic2 h3,
.vspic3 h3 {
	font-family: 'Belwe';
	font-size: 40px;
	text-align: center;
	color: #f5f5f5;
	margin: auto;
	text-shadow: #151515 2px 2px 4px;
	transition: all 0.3s ease;
	text-decoration: underline whitesmoke;
}
.vspic1:hover h3,
.vspic2:hover h3,
.vspic3:hover h3 {
	font-size: 50px;
}
/*-Mad ud af huset-*/
.muah {
	display: flex;
	background: url("../img/slate.jpg") no-repeat center;
	background-size: cover;
	height: 50vh;
	width: 100%;
	color: whitesmoke;
	min-height: 400px;
}
.muah .max-width h1 {
	margin-top: 50px;
	font-family: 'Belwe';
	font-size: 60px;
	line-height: 65px;
	text-shadow: #151515 2px 2px 4px;
	text-align: center;
	color: #f5f5f5;
}
.muah1 h1 {
	font-family: 'Belwe';
	font-size: 40px;
	line-height: 35px;
	text-align: center;
	color: #803437;
	margin-bottom: 20px;
}
.muah1 .max-width a div {
	width: 500px;
	height: 300px;
	border-radius: 5px;
}
.muah1 .max-width {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-around;
}
.muah1 .max-width .top {
	margin-bottom: 50px;
}
.muah1 .max-width div {
	display: flex;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.30);
	transition: all 0.3s ease;
}
.muahpic1 {
	background: url("../img/reception.jpg") no-repeat center;
	background-size: cover;
}
.muahpic2 {
	background: url("../img/aabenthus.jpg") no-repeat center;
	background-size: cover;
}
.muahpic3 {
	background: url("../img/poelsebord.jpg") no-repeat center;
	background-size: cover;
}
.muahpic4 {
	background: url("../img/smoerrebroed.jpg") no-repeat center;
	background-size: cover;
}
.muahpic1 h3,
.muahpic2 h3,
.muahpic3 h3,
.muahpic4 h3 {
	font-family: 'Belwe';
	font-size: 40px;
	text-align: center;
	color: #f5f5f5;
	margin: auto;
	text-shadow: #151515 2px 2px 4px;
	transition: all 0.3s ease;
	text-decoration: underline whitesmoke;
}
.muahpic1:hover h3,
.muahpic2:hover h3,
.muahpic3:hover h3,
.muahpic4:hover h3 {
	font-size: 50px;
}
/*-dagensret-*/
.dr {
	display: flex;
	background: url("../img/dagensret2.jpg") no-repeat center;
	background-size: cover;
	height: 50vh;
	width: 100%;
	color: whitesmoke;
	min-height: 400px;
}
.dr .max-width h1 {
	margin-top: 50px;
	font-family: 'Belwe';
	font-size: 60px;
	line-height: 65px;
	text-shadow: #151515 2px 2px 4px;
	text-align: center;
	color: #f5f5f5;
}
.dr1 h1 {
	font-family: 'Belwe';
	font-size: 40px;
	line-height: 35px;
	text-align: center;
	color: #803437;
}
.dr1 h2 {
	font-family: 'Ubuntu';
	font-size: 20px;
	text-align: center;
	color: #151515;
	margin-bottom: 20px;
}
.dr1 h5 {
	font-family: 'Ubuntu';
	font-size: 20px;
	text-align: center;
	color: #151515;
	text-decoration: underline 2px #151515;
	margin-bottom: 20px;
}
.dr1 .max-width {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-around;
}
.dr1 .max-width div {
	background-color: white;
	width: 500px;
	padding: 20px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.30);
	transition: all 0.3s ease;
	border-radius: 5px;
}
.dr1 .max-width div h3 {
	font-family: 'Belwe';
	font-size: 30px;
	color: #803437;
	margin-bottom: 10px;
	text-align: center;
}
.dr1 .max-width div h4 {
	font-family: 'Ubuntu';
	font-size: 18px;
	color: #151515;
}
.dr1 .max-width div p {
	font-family: 'Ubuntu';
	font-size: 15px;
	color: #151515;
	margin-bottom: 10px;
}
.dr1 .max-width .top {
	margin-bottom: 50px;
}
.dg1 {
	background: url("../img/knifedrawn-60.png") no-repeat center;
	background-size: contain;
}
.dg2 {
	background: url("../img/knifedrawn2-60.png") no-repeat center;
	background-size: cover;
}
.dg3 {
	background: url("../img/knifedrawn3-60.png") no-repeat center;
	background-size: cover;
}
.dg4 {
	background: url("../img/knifedrawn4-60.png") no-repeat center;
	background-size: cover;
}
/*-Ugens tilbud-*/
.ut {
	display: flex;
	background: url("../img/ugenstilbud1.jpg") no-repeat center;
	background-size: cover;
	height: 50vh;
	width: 100%;
	color: whitesmoke;
	min-height: 400px;
}
.ut .max-width h1 {
	margin-top: 50px;
	font-family: 'Belwe';
	font-size: 60px;
	line-height: 65px;
	text-shadow: #151515 2px 2px 4px;
	text-align: center;
	color: #f5f5f5;
}
.ut1 h1 {
	font-family: 'Belwe';
	font-size: 40px;
	line-height: 35px;
	text-align: center;
	color: #803437;
	margin-bottom: 20px;
}
.ut1 h5 {
	font-family: 'Ubuntu';
	font-size: 20px;
	text-align: center;
	color: #151515;
	text-decoration: underline 2px #151515;
	margin-bottom: 20px;
}
.ut1 .max-width {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-around;
}
.ut1 .max-width div {
	background-color: white;
	width: 500px;
	height: 300px;
	padding: 20px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.30);
	transition: all 0.3s ease;
	border-radius: 5px;
}
.ut1 .max-width div:hover h4 {
	font-size: 20px;
}
.ut1 .max-width div:hover h3 {
	font-size: 35px;
}
.ut1 .max-width div h3 {
	font-family: 'Belwe';
	font-size: 30px;
	color: #f5f5f5;
	transition: all 0.3s ease;
}
.ut1 .max-width div h4 {
	font-family: 'Ubuntu';
	font-size: 18px;
	color: #f5f5f5;
	transition: all 0.3s ease;
}
.ut1 .max-width .top {
	margin-bottom: 50px;
}
.ug1 {
	background: url("../img/julemedister.jpg") no-repeat center;
	background-size: cover;
}
.ug2 {
	background: url("../img/sylte.jpg") no-repeat center;
	background-size: cover;
}
.ug3 {
	background: url("../img/juleskinke.jpg") no-repeat center;
	background-size: cover;
}
.ug4 {
	background: url("../img/højrebbøf.jpg") no-repeat center;
	background-size: cover;
}
.ug5 {
	background: url("../img/skinkefars.jpg") no-repeat center;
	background-size: cover;
}
/*-månedspakker-*/
.mp {
	display: flex;
	background: url("../img/maanedspakker.jpg") no-repeat center;
	background-size: cover;
	height: 50vh;
	width: 100%;
	color: whitesmoke;
	min-height: 400px;
}
.mp .max-width h1 {
	margin-top: 50px;
	font-family: 'Belwe';
	font-size: 60px;
	line-height: 65px;
	text-shadow: #151515 2px 2px 4px;
	text-align: center;
	color: #f5f5f5;
}
.mp1 h1 {
	font-family: 'Belwe';
	font-size: 40px;
	line-height: 35px;
	text-align: center;
	color: #803437;
	margin-bottom: 20px;
}
.mp1 h5 {
	font-family: 'Ubuntu';
	font-size: 20px;
	text-align: center;
	color: #151515;
	text-decoration: underline 2px #151515;
	margin-bottom: 20px;
}
.mp1 .max-width {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-around;
}
.mp1 .max-width div {
	background-color: white;
	width: 350px;
	height: 600px;
	padding: 20px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.30);
	transition: all 0.3s ease;
	border-radius: 5px;
}
.mp1 .max-width div:hover h3 {
	font-size: 40px;
}
.mp1 .max-width div:hover p {
	display: block;
}
.mp1 .max-width div h3 {
	font-family: 'Belwe';
	font-size: 35px;
	color: #f5f5f5;
	transition: all 0.3s ease;
	margin-bottom: 20px;
}
.mp1 .max-width div p {
	font-family: 'Ubuntu';
	font-size: 15px;
	line-height: 20px;
	color: #f5f5f5;
	margin-bottom: 10px;
	transition: all 0.3s ease;
	text-decoration: none;
	display: none;
}
.mp1 .max-width div a {
	font-family: 'Ubuntu';
	font-size: 13px;
	line-height: 20px;
	color: #f5f5f5;
	margin-bottom: 10px;
	transition: all 0.3s ease;
	text-decoration: none;
	text-decoration: underline #f5f5f5 1px solid;
}
.mp1 .max-width div h4 {
	font-family: 'Belwe';
	font-size: 35px;
	color: #f5f5f5;
	transition: all 0.3s ease;
}
.mp1 .max-width .top {
	margin-bottom: 50px;
}
.mpb1 {
	background: url("../img/mp1.jpg") no-repeat center;
	background-size: cover;
}
.mpb2 {
	background: url("../img/mp2.jpg") no-repeat center;
	background-size: cover;
}
.mpb3 {
	background: url("../img/mp3.jpg") no-repeat center;
	background-size: cover;
}

/*-footer-*/
footer {
	width: 100%;
	background-color: #803437;
	color: #f5f5f5;
	padding-top: 30px;
	padding-bottom: 30px;
}
footer .max-width {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
footer .max-width h3 {
	font-family: 'Belwe';
	font-size: 22px;
	margin-bottom: 20px;
}
footer .max-width p {
	font-family: 'Ubuntu';
	font-size: 15px;
}
footer .max-width .shorts .links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
footer .max-width .hours .links {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}
footer .max-width .hours .links div {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}
footer .max-width .shorts .links div {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}
footer .max-width .shorts .links div a {
	font-family: 'Ubuntu';
	font-size: 15px;
	color: #f5f5f5;
	text-decoration: none;
	padding: 2px;
}
footer .max-width .shorts .links div a:hover {
	color: #eeeeee;
}
footer .max-width .media a i {
	font-size: 50px;
	color: #f5f5f5;
	padding: 10px;
}
@media all and (max-width: 1500px) {
	.gourmetvideo .max-width iframe {
		width: 1000px;
		height: 500px;
	}
}
@media all and (max-width: 1200px) {
	nav ul li a {
		font-size: 15px;
	}
	.max-width {
		padding: 0 50px;
	}
}
@media all and (max-width: 1100px) {
	.max-width {
		padding: 0 23px;
	}
	.start .max-width img {
		width: 200px;
		height: 200px;
	}
	.start .max-width h2 {
		font-family: 'Belwe';
		font-size: 20px;
		line-height: 15px;
	}
	.start .max-width h1 {
		font-family: 'Belwe';
		font-size: 60px;
		line-height: 60px;
	}
}
@media all and (max-width: 990px) {
	nav ul {
		margin-right: 0px;
		float: left;
	}
	nav.logo img {
		padding-left: 30px;
	}
	nav ul li a {
		line-height: 70px;
		font-size: 18px;
		width: 100%;
		padding: 0 20px;
	}
	nav ul li,
	nav ul ul li {
		display: block;
		width: 100%;
		line-height: 70px;
		font-size: 18px;
	}
	nav ul ul {
		top: 70px;
		position: static;
		border-top: none;
		float: none;
		display: none;
		opacity: 1;
		visibility: visible;
	}
	nav ul ul ul {
		position: static;
	}
	nav ul ul li {
		line-height: 40px;
		padding: 0;
	}
	nav ul ul a {
		padding-left: 60px;
		font-size: 15px;
	}
	.show {
		display: block;
		font-size: 18px;
		padding: 0 20px;
		line-height: 70px;
		cursor: pointer;
		color: #803437;
		text-decoration: none;
		font-family: 'Ubuntu';
		transition: all ease 0.3s;
	}
	.show:hover {
		color: #151515;
		font-size: 20px;
	}
	.icon {
		display: block;
		color: #803437;
		position: absolute;
		right: 40px;
		line-height: 90px;
		font-size: 25px;
		cursor: pointer;
	}
	nav ul a:hover {
		box-shadow: none;
	}
	.show + a,
	ul {
		display: none;
	}
	[id^=btn]:checked + ul {
		display: block;
	}
	.start .max-width img {
		width: 110px;
		height: 110px;
		margin-left: 0px;
	}
	.start .max-width h2 {
		font-size: 10px;
		line-height: 10px;
		margin-left: 5px;
	}
	.start .max-width h1 {
		font-size: 30px;
		line-height: 30px;
		margin-left: 5px;
	}
	.start,
	.butikken {
		height: 30vh;
	}
	.story .max-width {
		flex-direction: column;
	}
	.story .max-width div {
		width: 100%;
	}
	.story .max-width img {
		margin-top: 20px;
	}
	.gourmetvideo .max-width iframe {
		height: 200px;
	}
	.gourmetslagter .max-width h1 {
		font-size: 40px;
		line-height: 65px;
	}
	.gourmetslagter .max-width h3 {
		font-family: 'Belwe';
		font-size: 15px;
	}
	.wemeat1 .max-width {
		flex-direction: column;
	}
	.wemeat1 .max-width div {
		width: 100%;
	}
	.wemeat1 .max-width img {
		margin-top: 20px;
	}
	.ops1 .max-width div {
		margin: auto;
	}
	.insp1 .max-width a div {
		width: 400px;
	}
	.vs1 .max-width a div {
		width: 400px;
	}
	.muah1 .max-width a div {
		width: 400px;
	}
	footer .max-width {
		display: flex;
		justify-content: space-between;
		text-align: center;
	}
	footer .max-width h3 {
		text-align: center;
		margin-top: 50px;
	}
	footer .max-width .footinfo {
		text-align: center;
	}
	footer .max-width .media a i {
		margin-left: 25%;
	}
}
